{% extends 'admin_base.html' %}
{% include 'admin_header.html' %}

{% block title %}Order History{% endblock %}

{% block body %}
<div class="content">
    <h2>ORDER HISTORY FOR {{ customer.firstname }} {{ customer.lastname }}</h2>
    <table class="table table-striped">
        <caption>LIST OF ORDER HISTORY</caption>
        <thead class="thead-dark">
            <tr>
                <th>Order Date</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_date }}</td>
                <td>{{ order.total_amount }}</td>
                <td>
                    <a type="button" href="{{url_for('order_details', id=order.id)}}" class="btn btn-secondary btn-xs view-order-modal">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
