{% extends 'admin_base.html' %}
{% include 'admin_header.html' %}

{% block title %}  {% endblock %}

{% block body %}

<div class="content">
    <h2>Item List</h2>
    <div class="row">
        {% for row in items %}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;" data-toggle="modal" data-target="#cardModal{{ row.id }}">
                <img src="{{ url_for('serve_uploaded_image', filename=row.image_path) }}" class="card-img-top" alt="Item Image" style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ row.name }}</strong></h5>
                    <p class="card-text">Category: <strong>{{ row.category }}</strong></p>
                    <p class="card-text">Quantity: <strong>{{ row.quantity }}</strong></p>
                    <p class="card-text">Price: <strong>{{ row.price }}</strong></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% for row in items %}
<div class="modal fade" id="cardModal{{ row.id }}" tabindex="-1" aria-labelledby="cardModalLabel{{ row.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cardModalLabel{{ row.id }}">Item Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('serve_uploaded_image', filename=row.image_path) }}" class="card-img-top" alt="...">
                <h5 class="card-title"><strong>{{ row.name }}</strong></h5>
                <p class="card-text">Category: <strong>{{ row.category }}</strong></p>
                <p class="card-text">Quantity: <strong>{{ row.quantity }}</strong></p>
                <p class="card-text">Price: <strong>{{ row.price }}</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}